extends layout

block content
	<div class="text-centered">
		h1.text-white Heres your e-mail contacts.
	</div>
		each value in emailList
			<div class="col-3 border m-1">	
				<p class="text-white"> #{value.name}</p>
				<a class ="text-white" href = "mailto:#{value.email}">#{value.email}</a>
			</div>