extends layout

block content


			<main class="main-content">
				<div class="fullwidth-block why-chooseus-section inner-content">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>

						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-1.fna.fbcdn.net/v/t1.0-9/35407471_1644186992367885_7132266019367682048_n.jpg?_nc_cat=105&_nc_ht=scontent.ffcm1-1.fna&oh=144cf16d176c037c77c9fd5704326363&oe=5C90F42A" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/25445998_1458400024279917_815193772089642815_n.jpg?_nc_cat=108&_nc_ht=scontent.ffcm1-2.fna&oh=0a2dbcbdefc71b1567c7c3ff2cacd5bf&oe=5C93F362" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
							<div class="col-md-4">
								<div class="feature">
									<figure class="cut-corner">
										<img src="https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.0-9/22196067_1390717244381529_761672453259035627_n.jpg?_nc_cat=104&_nc_ht=scontent.ffcm1-2.fna&oh=ad55736a21fe4f9dfd94e315f1a630ef&oe=5CC9FAB6" alt="">
									</figure>
									<h3 class="feature-title">Similique sunt in culpa qui officia deserunt mollitia animi laborum dolorum</h3>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								</div> <!-- .feature -->
							</div>
						</div>
						</div>	<!-- .container -->
						</div>	<!-- .why-chooseus-section -->
						</main>	<!-- .main-content -->
						
					</div>	<!-- #site-content -->
					<script src="js/jquery-1.11.1.min.js"></script>
					<script src="js/plugins.js"></script>
					<script src="js/app.js"></script>
					

