<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="160x160">
		<link rel="shortcut icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
		<title>Dakota Clover</title>
		<!-- Loading third party fonts -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
		//<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
		<link rel="stylesheet" href="/css/style.css">
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="images/logo.png" alt="Dakota Clover">
						<small class="site-description text-white">Creating Lasting Memories</small>
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/about">About</a></li>
							<li class="menu-item"><a href="/gallery">Gallery</a></li>
							//<li class="menu-item"><a href="/download">Download</a></li>
							//<li class="menu-item"><a href="/blog">Blog</a></li>
							//<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->

			block content


			<footer class="site-footer">
				<div class="container">
					//<img src="images/logo-footer.png" alt="Site Name">
					
					<address>
						<br><a href="tel:651-429-4494">(651) 429-4494</a> <br> 
						<a href="mailto:DakotaCloverBand@gmail.com">DakotaCloverBand@gmail.com</a></p> 
					</address> 
					
					<form action="#" class="newsletter-form">
						<input type="email" placeholder="Enter your email to join newsletter...">
						<input type="submit" class="button cut-corner" value="Subscribe">
					</form> <!-- .newsletter-form -->
					
					<div class="social-links">
						<a href="https://www.facebook.com/pages/category/Musician-Band/Dakota-Clover-447137792072817/"><i class="fa fa-facebook-square"></i></a>
						//<a href="#"><i class="fa fa-twitter"></i></a>
						//<a href="#"><i class="fa fa-google-plus"></i></a>
						//<a href="#"><i class="fa fa-pinterest"></i></a>
					</div> <!-- .social-links -->
					
					<p class="copy">Copyright 2014 Company Name. Designed by Themezy. All right reserved</p>
				</div>
				</footer>	<!-- .site-footer -->