extends layout

block content

		
			<main class="main-content">
				<div class="fullwidth-block why-chooseus-section">
					<div class="container">
						<h1 class="section-title text-center pb-4">Live Videos</h1>

						<div class="row">
							<div class=" col-12">
								<div class="feature">
								<h2 class="feature-title pb-4">Fan Videos</h2>
									<a href=" https://drive.google.com/file/d/1roW6J521xIVsJbjYK2w5oFEDyju0bqLa/view?usp=drivesdk"target="blank"><img class="video_img"src="images/video_images/nights-in-white-satin.jpg" alt="Nights in white satin"></a>
								</div> <!-- .feature -->
							</div>
							
						</div>
						</div>	<!-- .container -->
						</div>	<!-- .why-chooseus-section -->
						</main>	<!-- .main-content -->
						
					</div>	<!-- #site-content -->
					<script src="js/jquery-1.11.1.min.js"></script>
					<script src="js/plugins.js"></script>
					<script src="js/app.js"></script>
					<script src="js/pic_dynamic.js"></script>
					
					

