extends layout

block content
		<div class=" row text-centered d-flex justify-content-center">
			h1.text-white All Events
		</div>
			
				
				<div class="row ml-2">
				<div class="col-8 col-sm-3 border m-1">
					<p class="text-white"> #{updateEvent.name}</p>
					<p class="text-white"> #{updateEvent.date}</p>
				</div>
				
				</div>